POSTGRES_USER = test
POSTGRES_PASSWORD = test
POSTGRES_DB = test
DB_NAME = test


DATABASE_URL=postgresql+psycopg2://test:test@test:5432/test


REDIS_URL=redis://test:6379/
TASKIQ_BROKER_URL=redis://test:6379/0
MINIO_ROOT_USER = test
MINIO_ROOT_PASSWORD = test
S3_BUCKET_NAME=test
S3_ENDPOINT_URL=http://test:9000
S3_REGION_NAME=us-east-1
INTERNAL_GATEWAY_TOKEN=test_internal_token

